@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: "Nunito", sans-serif !important;
}

.user-dashboard::before {
  content: "";
  background: url("/src/assets/images/user-dashboard.png") no-repeat top/cover;
  height: 200px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #01b67a;
  border-radius: 12px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #a4ffe1;
  border-radius: 12px;
}

.leaflet-popup-close-button {
  display: none !important;
}
.leaflet-popup-content-wrapper {
  padding: 0px !important;
  border-radius: 10px !important;
}
.leaflet-popup-content {
  margin: 0 !important;
  width: 500px !important;
}

.custom-radio {
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #01B67A; /* Primary border color */
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: none;
  position: relative;
}

.custom-radio:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.4rem;  /* Adjusted size for the inner dot */
  height: 0.4rem;
  border-radius: 50%;
  background-color: #01B67A; /* Primary color */
}
